{
  "presets": ["babel-preset-expo"],
  "plugins": [
    "react-native-reanimated/plugin",
    "nativewind/babel",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./src",
        "@assets": "./src/assets",
        "@components": "./src/components",
        "@screens": "./src/screens",
        "@utils": "./src/utils",
        "@hooks": "./src/hooks",
        "@services": "./src/services",
        "@constants": "./src/constants",
        "@navigation": "./src/navigation",
        "@contexts": "./src/contexts",
        "@types": "./src/types",
        "@store": "./src/store",
        "@shared": "../../shared",
        "@frontend": "../../frontend",
        "@backend": "../../backend"
      }
    }]
  ]
} 